sympasoap11.conf
sympasoap11.fcgi
sympasoap11.fcgi.in.pl
sympasoap11.fcgi.old
sympasoap11.fcgi.org
sympasoap11.in
sympasoap11.service
sympasoap11.service.old
sympasoap11.socket.old
sympasoap11test.fcgi
